.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.message {
  font-size: 1rem;
  line-height: 1.5;
  color: #888;
}

.openResendBtn {
  margin-top: 2rem;
}

.goResendBtn {
  width: fit-content;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-weight: bold;
  background: linear-gradient(135deg, var(--gradient-primary-colors));
}