.noticeContent {
  text-align: center;
  padding-bottom: 14rem;
}

.noticeIcon {
  width: 3.5rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.noticeErrMsg {
  color: var(--error);
  font-weight: bold;
}